<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>
    <div class="container">
        <h1>Login Authentication System</h1>
        <form method="POST" action="">
        <div class="buttons">
            <a href="{{ url_for('login') }}" class="btn">Login Page</a>
            <a href="{{ url_for('register') }}" class="btn">Register Page</a>
        </div>
        </form>
    </div>
</body>

</html>
